@font-face {
    font-family: "SFProDisplay-Regular";
    src: url('https://anima-uploads.s3.amazonaws.com/5c308587e6b3a4000935be5e/5c383bbf6f121f000dfa5056/5c458e17702c36000b7244cf/fonts/SF-Pro-Display-Regular.otf') format("opentype");
}

@font-face {
    font-family: "SFProText-Regular";
    src: url('https://anima-uploads.s3.amazonaws.com/5c308587e6b3a4000935be5e/5c383bbf6f121f000dfa5056/5c458e17702c36000b7244cf/fonts/SF-Pro-Text-Regular.otf') format("opentype");
}

@font-face {
    font-family: "SFProText-Semibold";
    src: url('https://anima-uploads.s3.amazonaws.com/5c308587e6b3a4000935be5e/5c383bbf6f121f000dfa5056/5c458e17702c36000b7244cf/fonts/SF-Pro-Text-Semibold.otf') format("opentype");
}

@font-face {
    font-family: "DINAlternate-Bold";
    src: url('https://anima-uploads.s3.amazonaws.com/5c308587e6b3a4000935be5e/5c383bbf6f121f000dfa5056/5c458e17702c36000b7244cf/fonts/DIN Alternate Bold.ttf') format("truetype");
}

.near {
    width: 100%;
    min-width: 414px;
    height: 100vh;
    min-height: 736px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background-color: rgba(255, 255, 255, 1.0)
}

a {
    text-decoration: none
}

div {
    -webkit-text-size-adjust: none
}

.anima-full-width-a {
    width: 100%
}

.anima-full-height-a {
    height: 100%
}

div {
    -webkit-text-size-adjust: none
}

.near .container {
    background-color: rgba(255, 255, 255, 0.0);
    top: -1px;
    height: 739px;
    width: 415px;
    position: relative;
    margin: 0;
    left: -1px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .bitmap {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 739px;
    width: 415px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .rectangle {
    background-color: rgba(0, 0, 0, 1.0);
    top: 1px;
    height: 736px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 1px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .17
}

.near .container .group {
    background-color: rgba(255, 255, 255, 0.0);
    top: 468px;
    height: 194px;
    width: 371px;
    position: absolute;
    margin: 0;
    left: 23px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 87px;
    width: 177px;
    position: absolute;
    margin: 0;
    left: 194px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6 .rectangle3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 8px;
    height: 78px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .75
}

.near .container .group .group6 .rectangle1 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    height: 8px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6 .pesticide {
    background-color: rgba(255, 255, 255, 0.0);
    top: 22px;
    height: 37px;
    width: 37px;
    position: absolute;
    margin: 0;
    left: 17px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6 .rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 35px;
    height: 24px;
    width: 60px;
    position: absolute;
    margin: 0;
    left: 104px;
    border-radius: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .65
}

.near .container .group .group6 .apply {
    background-color: rgba(255, 255, 255, 0.0);
    top: 38px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 116px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 14.4px;
    color: rgba(74, 73, 74, 1.0);
    text-align: left;
    line-height: 17.0px
}

.near .container .group .group6 .a3275 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 62px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 16.8px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 20.0px
}

.near .container .group .group6 .pesticide1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 16px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 10.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 12.0px
}

.near .container .group .group6copy3 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 106px;
    height: 87px;
    width: 177px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy3 .rectangle3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 9px;
    height: 78px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .75
}

.near .container .group .group6copy3 .rectangle1 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    height: 8px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy3 .seeds {
    background-color: rgba(255, 255, 255, 0.0);
    top: 23px;
    height: 35px;
    width: 35px;
    position: absolute;
    margin: 0;
    left: 17px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy3 .rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 35px;
    height: 24px;
    width: 60px;
    position: absolute;
    margin: 0;
    left: 104px;
    border-radius: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .65
}

.near .container .group .group6copy3 .apply {
    background-color: rgba(255, 255, 255, 0.0);
    top: 39px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 116px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 14.4px;
    color: rgba(74, 73, 74, 1.0);
    text-align: left;
    line-height: 17.0px
}

.near .container .group .group6copy3 .a3273 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 62px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 16.8px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 20.0px
}

.near .container .group .group6copy3 .fertilizer {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 18px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 10.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 12.0px
}

.near .container .group .group6copy {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 87px;
    width: 177px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy .rectangle3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 8px;
    height: 78px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .75
}

.near .container .group .group6copy .rectangle1 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    height: 8px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy .drop {
    background-color: rgba(255, 255, 255, 0.0);
    top: 23px;
    height: 36px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 16px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy .rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 35px;
    height: 24px;
    width: 60px;
    position: absolute;
    margin: 0;
    left: 104px;
    border-radius: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .65
}

.near .container .group .group6copy .apply {
    background-color: rgba(255, 255, 255, 0.0);
    top: 38px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 116px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 14.4px;
    color: rgba(74, 73, 74, 1.0);
    text-align: left;
    line-height: 17.0px
}

.near .container .group .group6copy .a327u221e {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 62px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 16.8px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 20.0px
}

.near .container .group .group6copy .water {
    background-color: rgba(255, 255, 255, 0.0);
    top: 59px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 19px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 14.0px
}

.near .container .group .group6copy2 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 106px;
    height: 87px;
    width: 177px;
    position: absolute;
    margin: 0;
    left: 194px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy2 .rectangle3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 8px;
    height: 78px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .75
}

.near .container .group .group6copy2 .rectangle1 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    height: 8px;
    width: 176px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy2 .scissors {
    background-color: rgba(255, 255, 255, 0.0);
    top: 22px;
    height: 35px;
    width: 35px;
    position: absolute;
    margin: 0;
    left: 16px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .group .group6copy2 .rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 35px;
    height: 24px;
    width: 60px;
    position: absolute;
    margin: 0;
    left: 104px;
    border-radius: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .65
}

.near .container .group .group6copy2 .apply {
    background-color: rgba(255, 255, 255, 0.0);
    top: 38px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 116px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 14.4px;
    color: rgba(74, 73, 74, 1.0);
    text-align: left;
    line-height: 17.0px
}

.near .container .group .group6copy2 .a3271 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 62px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 16.8px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 20.0px
}

.near .container .group .group6copy2 .trim {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 25px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 10.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 12.0px
}

.near .container .rectanglecopy {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: 75px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 1px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: 64px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 1px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .61
}

.near .container .barsnavigationnavigationbar .right {
    background-color: rgba(255, 255, 255, 0.0);
    top: 39px;
    height: 6px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 376px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .right .right1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 6px;
    width: 20px;
    position: relative;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .center {
    background-color: rgba(255, 255, 255, 0.0);
    top: 32px;
    height: 20px;
    width: 63px;
    position: absolute;
    margin: 0;
    left: 176px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .center .titlelabel {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: -1px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Semibold', Helvetica, Arial, serif;
    font-size: 17.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    letter-spacing: -.41px;
    line-height: 20.0px
}

.near .container .barsnavigationnavigationbar .statusbar {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 20px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 0;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 20px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .pinright {
    background-color: rgba(255, 255, 255, 0.0);
    top: 3px;
    height: 15px;
    width: 72px;
    position: absolute;
    margin: 0;
    left: 337px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 15px;
    width: 63px;
    position: absolute;
    margin: 0;
    left: 9px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery .battery1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: 12px;
    width: 27px;
    position: absolute;
    margin: 0;
    left: 36px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery .battery1 .border {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 12px;
    width: 24px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .4
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery .battery1 .nub {
    background-color: rgba(255, 255, 255, 0.0);
    top: 5px;
    height: 4px;
    width: 2px;
    position: absolute;
    margin: 0;
    left: 25px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .4
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery .battery1 .charge {
    background-color: rgba(255, 255, 255, 1.0);
    top: 3px;
    height: 8px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 2px;
    border-radius: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .battery .a100 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: auto;
    width: 33px;
    position: absolute;
    margin: 0;
    left: -2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: right;
    line-height: 14.0px
}

.near .container .barsnavigationnavigationbar .statusbar .pinright .bluetooth {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: 12px;
    width: 7px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .time {
    background-color: rgba(255, 255, 255, 0.0);
    top: 4px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 182px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Semibold', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    line-height: 14.0px
}

.near .container .barsnavigationnavigationbar .statusbar .signal {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 20px;
    width: 139px;
    position: absolute;
    margin: 0;
    left: 0;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .signal .background1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 20px;
    width: 139px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .signal .carrier {
    background-color: rgba(255, 255, 255, 0.0);
    top: 4px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 26px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: left;
    line-height: 14.0px
}

.near .container .barsnavigationnavigationbar .statusbar .signal .mobilesignal {
    background-color: rgba(255, 255, 255, 0.0);
    top: 5px;
    height: 10px;
    width: 17px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .barsnavigationnavigationbar .statusbar .signal .wifi {
    background-color: rgba(255, 255, 255, 0.0);
    top: 5px;
    height: 10px;
    width: 14px;
    position: absolute;
    margin: 0;
    left: 71px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd {
    background-color: rgba(255, 255, 255, 0.0);
    top: 195px;
    height: 215px;
    width: 216px;
    position: absolute;
    margin: 0;
    left: 25px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .rectangle3 {
    background-color: rgba(216, 216, 216, 0.6);
    top: 7px;
    height: 209px;
    width: 139px;
    position: absolute;
    margin: 0;
    left: 9px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .rectangle1 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 55px;
    height: 116px;
    width: 155px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .orchid01 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 20px;
    height: auto;
    width: 129px;
    position: absolute;
    margin: 0;
    left: 16px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 25.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    line-height: 29.0px
}

.near .container .orchd .rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 180px;
    height: 29px;
    width: 85px;
    position: absolute;
    margin: 0;
    left: 35px;
    border-radius: 10px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .78
}

.near .container .orchd .takephoto {
    background-color: rgba(255, 255, 255, 0.0);
    top: 188px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 50px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: left;
    line-height: 14.0px
}

.near .container .orchd .sow {
    background-color: rgba(255, 255, 255, 0.0);
    top: 69px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .a20180103 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 69px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 95px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .a20180202 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 144px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 95px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .growth {
    background-color: rgba(255, 255, 255, 0.0);
    top: 84px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .pests {
    background-color: rgba(255, 255, 255, 0.0);
    top: 99px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .moisture {
    background-color: rgba(255, 255, 255, 0.0);
    top: 114px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .temperature {
    background-color: rgba(255, 255, 255, 0.0);
    top: 129px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .lasttrim {
    background-color: rgba(255, 255, 255, 0.0);
    top: 144px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 22px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'DINAlternate-Bold', Helvetica, Arial, serif;
    font-size: 9.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 10.0px
}

.near .container .orchd .group4 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 87px;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 89px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4 .rectanglecopy3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 0;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4 .rectangle4 {
    background-color: rgba(152, 130, 0, 1.0);
    top: 0;
    height: 3px;
    width: 28px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy {
    background-color: rgba(255, 255, 255, 0.0);
    top: 101px;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 89px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy .rectanglecopy3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 0;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy .rectangle4 {
    background-color: rgba(0, 152, 89, 1.0);
    top: 0;
    height: 3px;
    width: 46px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy2 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 117px;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 89px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy2 .rectanglecopy3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 0;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy2 .rectangle4 {
    background-color: rgba(152, 75, 0, 1.0);
    top: 0;
    height: 3px;
    width: 13px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy3 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 133px;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 89px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy3 .rectanglecopy3 {
    background-color: rgba(215, 215, 215, 1.0);
    top: 0;
    height: 3px;
    width: 52px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .group4copy3 .rectangle4 {
    background-color: rgba(0, 152, 89, 1.0);
    top: 0;
    height: 3px;
    width: 47px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 30px;
    width: 75px;
    position: absolute;
    margin: 0;
    left: 141px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator .oval {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 15px;
    width: 15px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator .line5 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 8px;
    height: 9px;
    width: 47px;
    position: absolute;
    margin: 0;
    left: 14px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator .group5 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 2px;
    height: 28px;
    width: 28px;
    position: absolute;
    margin: 0;
    left: 47px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator .group5 .oval2 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 4px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 4px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .4
}

.near .container .orchd .indicator .group5 .ovalcopy {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 28px;
    width: 28px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .orchd .indicator .group5 .oval1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 9px;
    height: 10px;
    width: 10px;
    position: absolute;
    margin: 0;
    left: 9px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy {
    background-color: rgba(255, 255, 255, 0.0);
    top: 666px;
    height: 73px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .rectangle1 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 73px;
    width: 413px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .line {
    background-color: rgba(255, 255, 255, 0.0);
    top: 13px;
    height: 3px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .line2 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 22px;
    height: 44px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 107px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .line4 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: 45px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 310px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .line3 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: 44px;
    width: 2px;
    position: absolute;
    margin: 0;
    left: 207px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.near .container .tabcopy .monitor {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 36px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(232, 232, 227, 1.0);
    text-align: center;
    line-height: 14.0px
}

.near .container .tabcopy .tradecenter {
    background-color: rgba(255, 255, 255, 0.0);
    top: 29px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 141px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(232, 232, 227, 1.0);
    text-align: center;
    line-height: 14.0px
}

.near .container .tabcopy .ranking {
    background-color: rgba(255, 255, 255, 0.0);
    top: 37px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 238px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(232, 232, 227, 1.0);
    text-align: center;
    line-height: 14.0px
}

.near .container .tabcopy .myaccount {
    background-color: rgba(255, 255, 255, 0.0);
    top: 29px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 337px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(232, 232, 227, 1.0);
    text-align: center;
    line-height: 14.0px
}

.anima-animate-appear {
    opacity: 0;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
    opacity: 1;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0
}

@-webkit-keyframes anima-reveal {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes anima-reveal {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes anima-reveal {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes anima-reveal {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

